<div class="about-content">
  <h1>About</h1>
  <img src="">

  <p class="summary">
    The Computer Science Women's Network (CSWN) is an organization at Purdue University consisting
    of people, both students and staff, who are dedicated to helping women in the Computer Science
    (CS) field. The leadership team that organizes most activities is made up of students who want
    to reach out and help all of the women in CS. CSWN organizes different activities meant to
    encourage young women to meet one another and also learn more about their chosen field of study.
    These activities range from picnics to technical talks to helping students find tutors if they
    are needed. If you would like to become a member of CSWN, please go to our boilerlink page and
    click Join Organization! If you are interested in becoming a sponsor for CSWN, head on over to
    our Contact Us page to see what method you would like to use to reach us!
  </p>

  <!-- <div class="background-image">
      <img alt="group1" src="/static/images/officers/group1.jpg">
  </div> -->

  <a class="button" target="boilerlink"
    href="https://boilerlink.purdue.edu/organization/computersciencewomensnetwork">Join CSWN
  </a>

  <a class="button" target="constitution"
    href="https://drive.google.com/open?id=1v2xrGy1pU75GwhD6jdjBHtRYDFM2hj9mfBqw-sCUXq0">
    Our Constitution
  </a>


</div>
