<div class="events-heading">
  <h1>Events</h1>
</div>
<div class="events-content">
  <div class="events-calendar">
    <iframe src="https://calendar.google.com/calendar/embed?src=cswnpurdue%40gmail.com&ctz=America/Los_Angeles"
    style="border: 0" width="100%" height="525px" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
