<div class="gallery-heading">
  <h1>Gallery</h1>
</div>
<div class="gallery-content">
  <div class="img-block">
    <a href="#puzzleModal">
      <img alt="puzzle_day" src="/static/images/events/puzzle_day/img_3884.jpg">
      <p>Puzzle Day</p>
    </a>
  </div>

  <div class="img-block">
    <a href="#yogaModal">
      <img alt="yoga_social" src="/static/images/events/yoga_social/yoga2.jpg">
      <p>Yoga Social</p>
    </a>
  </div>

  <div class="img-block">
    <a href="#womenInTechModal">
      <img alt="women_in_tech" src="/static/images/events/women_in_tech/women_in_tech3.jpg">
      <p>Women in Tech Panel</p>
    </a>
  </div>
</div>

<!-- ********** MODALS ********** -->
<div id="puzzleModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Puzzle Day</h2>
      <p>April 2, 2016</p>
    </header>
    <div class="modal-container">
      <img class="galleryModalImg" alt"puzzle_day_pic" src="/static/images/events/puzzle_day/img_3848.jpg">
    </div>
    <footer class="modal-footer">
      <p>Puzzle Day is an all day event, hosted and planned by the CSWN officers. Participants spend
      the day solving fun, challenging puzzles. Winners get cool prizes like Xbox, 3D Doodler, and
      Rubik's Cubes. Everyone got pizza and free t-shirts!
     </p>
    </footer>
  </div>
</div>

<div id="yogaModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Puzzle Day</h2>
      <p>April 2, 2016</p>
    </header>
    <div class="modal-container">
      <img class="galleryModalImg" alt"puzzle_day_pic" src="/static/images/events/yoga_social/yoga1.jpg">
    </div>
    <footer class="modal-footer">
      <p>Puzzle Day is an all day event, hosted and planned by the CSWN officers. Participants spend
      the day solving fun, challenging puzzles. Winners get cool prizes like Xbox, 3D Doodler, and
      Rubik's Cubes. Everyone got pizza and free t-shirts!
     </p>
    </footer>
  </div>
</div>

<div id="womenInTechModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Puzzle Day</h2>
      <p>April 2, 2016</p>
    </header>
    <div class="modal-container">
      <img class="galleryModalImg" alt"puzzle_day_pic" src="/static/images/events/women_in_tech/women_in_tech1.jpg">
    </div>
    <footer class="modal-footer">
      <p>Puzzle Day is an all day event, hosted and planned by the CSWN officers. Participants spend
      the day solving fun, challenging puzzles. Winners get cool prizes like Xbox, 3D Doodler, and
      Rubik's Cubes. Everyone got pizza and free t-shirts!
     </p>
    </footer>
  </div>
</div>
