<div class="gallery-heading">
  <h1>Gallery</h1>
</div>
<div class="gallery-content">
  <h3 class="gallery-h3">Puzzle Day</h3>
  <div class="gallery-imgs">

  </div>

  <h3 class="gallery-h3">Yoga Social</h3>
  <div class="gallery-imgs">
  </div>

  <h3 class="gallery-h3">Women Tech Panel</h3>
  <div class="gallery-imgs">
  </div>
</div>
