<div class="gallery-heading">
  <h1>Gallery</h1>
</div>
<div class="gallery-content">
  <h3 class="gallery-h3">2016-2017 Officers</h3>
  <div class="gallery-imgs">
    <div class="img-block">
      <a href="#puzzleModal">
        <img alt="puzzle_pic" src="/static/images/events/puzzle_day/img_3884.jpg">
        <p>Puzzle Day</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#yogaModal">
        <img alt="yoga_pic" src="/static/images/events/yoga_social/yoga2.jpg">
        <p>Yoga Social</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#womenInTechModal">
        <img alt="womenInTech_pic" src="/static/images/events/womenInTech/womenInTech3.jpg">
        <p>Women in Tech Panel</p>
      </a>
    </div>
  </div>
</div>


<!-- ********** MODALS ********** -->
<div id="puzzleModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Puzzle Day</h2>
      <p>April 2, 2016</p>
    </header>
    <div class="modal-container">
      <img class="galleryModalImg" alt"puzzle_day_pic" src="/static/images/events/puzzle_day/img_3848.jpg">
    </div>
    <footer class="modal-footer">
      <p>Puzzle Day is an all day event, hosted and planned by the CSWN officers. Participants spend
      the day solving fun, challenging puzzles. Winners get cool prizes like Xbox, 3D Doodler, and
      Rubik's Cubes. Everyone got pizza and free t-shirts!
     </p>
    </footer>
  </div>
</div>

<div id="yogaModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Puzzle Day</h2>
      <p>April 2, 2016</p>
    </header>
    <div class="modal-container">
      <img class="galleryModalImg" alt"puzzle_day_pic" src="/static/images/events/yoga_social/yoga1.jpg">
    </div>
    <footer class="modal-footer">
      <p>
        CSWN members took a break from studying and did some relaxing yoga with friends.
     </p>
    </footer>
  </div>
</div>

<div id="womenInTechModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Puzzle Day</h2>
      <p>April 2, 2016</p>
    </header>
    <div class="modal-container">
      <img class="galleryModalImg" alt"puzzle_day_pic" src="/static/images/events/womenInTech/womenInTech1.jpg">
    </div>
    <footer class="modal-footer">
      <p>
        A panel of proffessionals from various tech companies came and talked about women in technology.
        Panelists shared their experiences working at tech companies, and gave advice
        for leveling the playing field.
     </p>
    </footer>
  </div>
</div>
