<div class="gallery-heading">
  <h1>Gallery</h1>
</div>
<div class="gallery-content">
  <div class="img-block">
    <a href="#puzzleModal">
      <img alt="puzzle_day" src="/static/images/.jpg">
      <p>Puzzle Day</p>
    </a>
  </div>

  <div class="img-block">
    <a href="#puzzleModal">
      <img alt="puzzle_day" src="/static/images/.jpg">
      <p>Yoga Social</p>
    </a>
  </div>

  <div class="img-block">
    <a href="#puzzleModal">
      <img alt="puzzle_day" src="/static/images/.jpg">
      <p>Women in Tech Panel</p>
    </a>
  </div>
</div>
