<div class="home-content">
  <h1>Computer Science Women's Network</h1>
  <p class="summary">
    Student led organization at Purdue University dedicated to helping women in the Computer Science
    (CS) field. CSWN organizes different activities meant to encourage young women to meet one
    another and also to learn more about their chosen field of study. These activities range from
    picnics to technical talks to helping students find tutors if they are needed.
  </p>


  <a class="button" target="boilerlink"
    href="https://boilerlink.purdue.edu/organization/computersciencewomensnetwork">Join Us!
  </a>

  <div class="upcoming-events">
    <h2>Upcoming Events</h2>
      <p>Dinner with Bloomberg</p>
      <p>CSWN Callout</p>
      <p>Dinner with Salesforce</p>
      <p>Cerner Career Fair and Resume Prep</p>
  </div>
</div>
