<div class="members-heading">
  <h1>Members</h1>
</div>
<div class="members-content">
  <h3 class="members-h3">2016-2017 Officers</h3>
  <div class="members-imgs">
    <img class="hover" alt="julianna stevenson" src="/static/images/officers/julianna_stevenson.jpg">
    <img alt="noah_field" src="/static/images/officers/noah_field.jpg">
    <img alt="akanksha_tripathy" src="/static/images/officers/akanksha_tripathy.jpg">
    <img alt="lisa_campbell" src="/static/images/officers/lisa_campbell.jpg">
    <img alt="audrey_vincent" src="/static/images/officers/audrey_vincent.jpg">
    <img alt="eehita_parameswarane" src="/static/images/officers/eehita_parameswarane.jpg">
    <img alt="emmy_zhang" src="/static/images/officers/emmy_zhang.jpg">
    <img alt="corporate liason 2" src="/static/images/cswn_logo.png">
  </div>

  <h3 class="members-h3">Faculty</h3>
  <div class="members-imgs">
    <img alt"barbara_clark" src="/static/images/people/barbara_clark.jpg">
    <img alt="sonia_fahmy" src="/static/images/people/sonia_fahmy.jpg">

  </div>

  <h3 class="members-h3">Alumni</h3>
  <div class="members-imgs">
    <img alt"bridgette_kuehn" src="/static/images/alumni/bridgette_kuehn.jpg">
    <img alt="andrea_evensen" src="/static/images/alumni/andrea_evensen.png">
    <img alt="valerie_fenwick" src="/static/images/alumni/valerie_fenwick.jpg">
    <img alt="erika_poole" src="/static/images/alumni/erika_poole.png">
    <img alt="janice_zdankus" src="/static/images/alumni/janice_zdankus.jpg">
  </div>
</div>
