<div class="members-heading">
  <h1>Members</h1>
</div>
<div class="members-content">
  <h3 class="members-h3">2016-2017 Officers</h3>
  <div class="members-imgs">
    <div class="img-block">
      <a href="#juliannaModal">
        <img alt="julianna stevenson" src="/static/images/officers/julianna_stevenson.jpg">
        <p>President</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#jordanModal">
        <img alt="noah_field" src="/static/images/officers/noah_field.jpg">
        <p>Vice President</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#audreyModal">
        <img alt="audrey_vincent" src="/static/images/officers/audrey_vincent.jpg">
        <p>Treasurer</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#lisaModal">
        <img alt="lisa_campbell" src="/static/images/officers/lisa_campbell.jpg">
        <p>Secretary</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#emmyModal">
        <img alt="emmy_zhang" src="/static/images/officers/emmy_zhang.jpg">
        <p>Webmaster</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#eehitaModal">
        <img alt="eehita_parameswaran" src="/static/images/officers/eehita_parameswaran.jpg">
        <p>Corporate Liaison</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#akankshaModal">
        <img alt="akanksha_tripathy" src="/static/images/officers/akanksha_tripathy.jpg">
        <p>Event Coordinator</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#cl2Modal">
        <img alt="corporate liason 2" src="/static/images/cswn_logo.png">
        <p>Corporate Liaison #2 (Vacancy)</p>
      </a>
    </div>
  </div>

  <h3 class="members-h3">Faculty</h3>
  <div class="members-imgs">
    <div class="img-block">
      <a href="#barbaraModal">
        <img id="barbaraBtn" alt"barbara_clark" src="/static/images/people/barbara_clark.jpg">
        <p>Founding Member</p>
      </a>
    </div>

    <div class="img-block">
      <a href="#soniaModal">
        <img alt="sonia_fahmy" src="/static/images/people/sonia_fahmy.jpg">
        <p>Faculty Advisor</p>
      </a>
    </div>
  </div>

  <h3 class="members-h3">Alumni</h3>
  <div class="members-imgs">
    <div class="img-block">
      <a href="#bridgetteModal">
        <img alt"bridgette_kuehn" src="/static/images/alumni/bridgette_kuehn.jpg">
        <p>Bridgette Kuehn</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#andreaModal">
        <img alt="andrea_evensen" src="/static/images/alumni/andrea_evensen.png">
        <p>Andrea Evensen</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#valerieModal">
        <img alt="valerie_fenwick" src="/static/images/alumni/valerie_fenwick.jpg">
        <p>Valerie Fenwick</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#erikaModal">
        <img alt="erika_poole" src="/static/images/alumni/erika_poole.png">
        <p>Erika Poole</p>
      </a>
    </div>
    <div class="img-block">
      <a href="#janiceModal">
        <img alt="janice_zdankus" src="/static/images/alumni/janice_zdankus.jpg">
        <p>Janice Zdankus</p>
      </a>
    </div>
  </div>
</div>

<!-- ********** 2016-2015 OFFICERS MODALS ********** -->
<div id="juliannaModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Julianna Stevenson</h2>
      <p>President</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt"julianna_stevenson" src="/static/images/officers/julianna_stevenson.jpg">
      <div class="modal-info">
        <p>Year: 2019, Sophomore</p>
        <p>Major: Computer Science</p>
        <p>Minors: Psychology, French</p>
        <br/>
        <p>
          She has been programming for nine years, ever since
          she joined her elementary school's FIRST Lego League team. Disconcerted by the lack of
          females in her CS classes, she does her best to encourage her peers to explore their
          interests and find their passions.
        </p>
      </div>
    </div>
    <footer class="modal-footer">
      <p>Email:&nbsp <a href="mailto:steve146@purdue.edu"> steve146@purdue.edu</a></p>
    </footer>
  </div>
</div>

<div id="jordanModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Noah (Jordan) Field</h2>
      <p>Vice President</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt"noah_field" src="/static/images/officers/noah_field.jpg">
      <div class="modal-info">
        <p>Year: 2018, Junior</p>
        <p>Major: Computer Science</p>
        <p>Minor: Classical Studies</p>
        <br/>
        <p>
          She's at Purdue studying Computer Science, and is also involved in Purdue Music Gaming Club and Purdue ACM SIG App.
        </p>
      </div>
    </div>
    <footer class="modal-footer">
      <p>Email:&nbsp <a href="mailto:fieldn@purdue.edu">fieldn@purdue.edu</a></p>
    </footer>
  </div>
</div>

<div id="audreyModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Audrey Vincent</h2>
      <p>Treasurer</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt="audrey_vincent" src="/static/images/officers/audrey_vincent.jpg">
      <div class="modal-info">
        <p>Year: 2019, Sophomore</p>
        <p>Major: Computer Science</p>
        <p>Minor: </p>
        <br/>
        <p>
          [Summary]
        </p>
      </div>
    </div>
    <footer class="modal-footer">
      <p>Email:&nbsp <a href="mailto:vincent6@purdue.edu">vincent6@purdue.edu</a></p>
    </footer>
  </div>
</div>


<div id="lisaModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Lisa Campbell</h2>
      <p>Secretary</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt="lisa_campbell" src="/static/images/officers/lisa_campbell.jpg">
      <div class="modal-info">
        <p>Year: 2018, Junior</p>
        <p>Major: Computer Science</p>
        <p>Minors: Psychology, Entrepreneurship</p>
        <br/>
        <p>
          Before coming to Purdue, she worked at a start up company out of her hometown of Carmel,
          IN, managing their website. She loves puppies and making jokes too.
        </p>
      </div>
    </div>
    <footer class="modal-footer">
      <p>Email:&nbsp <a href="mailto:campb215@purdue.edu">campb215@purdue.edu</a></p>
    </footer>
  </div>
</div>

<div id="emmyModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Emmy Zhang</h2>
      <p>Webmaster</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt="emmy_zhang" src="/static/images/officers/emmy_zhang.jpg">
      <div class="modal-info">
        <p>Year: 2019, Sophomore</p>
        <p>Major: Computer Science</p>
        <p>Minors: Art and Design, Chinese</p>
        <br/>
        <p>
          Emmy is passionate about front-end development, art, and supporting women
          in technology. Emmy is on the design team for Boilermake, Purdue's Hackathon Organization;
          she is a member of Undergraduate Student Board (USB), a student led organization that
          provides tools, resources, opportunites to CS students; and she is a mentor for MAGIC, an
          organization that strives to inspire young girls to learn and pursue technology. She
          likes watching films, solving Rubik's Cubes, and playing the ukulele.
        </p>
      </div>
    </div>
    <footer class="modal-footer">
      <p>Email:&nbsp <a href="mailto:zhan2235@purdue.edu">zhan2235@purdue.edu</a></p>
    </footer>
  </div>
</div>

<div id="eehitaModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Eehita Parameswaran</h2>
      <p>Corporate Liaison</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt="eehita_parameswarane" src="/static/images/officers/eehita_parameswaran.jpg">
      <div class="modal-info">
        <p>Year: 2018, Junior</p>
        <p>Major: Computer Science</p>
        <p>Minors: </p>
        <br/>
        <p>
          The basic premise of Computer Science that advocates 'making things simple' resonates
          immensely with Eehita, and she gets easily enthused by anything that has an association
          with the field of Computer Science. She loves math and believes her passion for
          problem-solving has helped develop her interest in coding. She is particularly interested
          in Artificial Intelligence and would like to dabble with projects relating to the same.
        </p>
      </div>
    </div>
    <footer class="modal-footer">
      <p>Email:&nbsp <a href="mailto:eparames@purdue.edu">eparames@purdue.edu</a></p>
    </footer>
  </div>
</div>

<div id="akankshaModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Akanksha Tripathy</h2>
      <p>Event Coordinator</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt="akanksha_tripathy" src="/static/images/officers/akanksha_tripathy.jpg">
      <div class="modal-info">
        <p>Year: 2018, Junior</p>
        <p>Major: Computer Science</p>
        <p>Minors: Economics</p>
        <br/>
        <p>
          She moved to Indiana from Bangalore, India to pursue a degree CS because it is her dream.
        </p>
      </div>
    </div>
    <footer class="modal-footer">
      <p>Email:&nbsp <a href="mailto:tripath1@purdue.edu">tripath1@purdue.edu</a></p>
    </footer>
  </div>
</div>

<div id="cl2Modal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>This position is open for applicants!</h2>
      <p>Corporate Liaison #2</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt="corporate liason 2" src="/static/images/cswn_logo.png">
      <div class="modal-info">
        <p>Year: Any year</p>
        <p>Major: Computer Science</p>
        <br/>
        <p>
          If you're interested in becoming a CSWN officer, consider applying for this position.
          The duties of the Corporate Liaison involve emailing companies or prospective parties
          on behalf of CSWN in a timely manner. She also assists with CSWN company and event
          sponsorships.
        </p>
      </div>
    </div>
    <footer class="modal-footer">
      <p>Apply Here:&nbsp <a href="https://drive.google.com/open?id=1szAdv8v2V0on1M7SLdI1cTy4JHihlmyOg_Uptj6LgL8">Application Form</a></p>
    </footer>
  </div>
</div>

<!-- ********** FACULTY MODALS ********** -->
<div id="barbaraModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Barbara Clark</h2>
      <p>Founding Member</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" id="barbaraBtn" alt"barbara_clark" src="/static/images/people/barbara_clark.jpg">
      <p>
        The woman who started it all, Barbara Clark founded the CSWN we know today. By doing so,
        she has brought hundreds of women together under the bond of computer science.
        Barb dedicated her time at Purdue making sure that CSWN was alive and thriving, and
        she remained the Faculty Advisor for CSWN until she retired in 2014.
      </p>
    </div>
    <footer class="modal-footer">
      <p></p>
    </footer>
  </div>
</div>

<div id="soniaModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Sonia Fahmy</h2>
      <p>Faculty Advisor</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt"sonia_fahmy" src="/static/images/people/sonia_fahmy.jpg">
      <p>
        Sonia Fahmy is the faculty advisor for CSWN. Sonia started off her role as Faculty
        Advisor with Barbara Clark in fall 2013 and took over as the sole advisor in October
        of 2015 once Barb retired. Sonia is a professor in the CS department at Purdue
        University.
      </p>
    </div>
    <footer class="modal-footer">
      <p>Email:&nbsp <a href="mailto:fahmy@purdue.edu">fahmy@purdue.edu</a></p>
    </footer>
  </div>
</div>

<!-- ********** FACULTY MODALS ********** -->
<div id="bridgetteModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Bridgette Kuehn</h2>
      <p>Alumnus</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt"bridgette_kuehn" src="/static/images/alumni/bridgette_kuehn.jpg">
      <div class="modal-info">
        <p>
          Bridgette graduated from Purdue in May 2016 and is currently working as
          a Program Manager at Microsoft.
        </p>
      </div>
    </div>
    <footer class="modal-footer">
      <p></p>
    </footer>
  </div>
</div>

<div id="andreaModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Andrea Evensen</h2>
      <p>Alumnus</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt="andrea_evensen" src="/static/images/alumni/andrea_evensen.png">
      <p>
        Andrea Lynn Evensen (née Carollo) (B.S. Comp. Sci. 2001) graduated from Purdue with
        Distinction after having received numerous scholarships and being, inter alia, the Vice
        President of Mortar Board and a member of Phi Beta Kappa. After graduation, she attended
        the John Marshall Law School (J.D. 2004) and was, inter alia, a published member of Law
        Review, a twice published Co-Editor-in-Chief of the Morrissey Scholars, and an Associate
        Justice for Moot Court. She graduated magna cum laude. Ms. Evensen is an associate with
        Brinks Hofer Gilson & Lione, one of the largest intellectual property law firms in the U.S.,
        and is a registered patent attorney. She was named a 2009 Rising Star by Illinois Super
        Lawyers. Her intellectual property law practice focuses on litigation disputes, including
        those involving trade secrets, patents, software-related matters, and contracts. With
        a background in computer science, her prosecution docket focuses not only on patent
        prosecution in the computer arts, but also comprises patent prosecution and
        opinion writing in the mechanical arts, medical arts, and business methods.
        Her practice also includes copyright and trademark issues. Ms. Evensen is married to
        Michael Evensen (B.S. M.E.T. 2001), and together they have a wonderful son named Gregory
        and a dog named Cinder Scrumps. They reside in Elgin, Illinois.
      </p>
    </div>
    <footer class="modal-footer">
      <p></p>
    </footer>
  </div>
</div>

<div id="valerieModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Valerie Fenwick</h2>
      <p>Alumnus</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt="valerie_fenwick" src="/static/images/alumni/valerie_fenwick.jpg">
      <p>
        Valerie Anne Fenwick (née Bubb) is a Staff Engineer at Sun Microsystems with over a decade
        of experience in computer security. Valerie is currently working on getting the Solaris
        Cryptographic Framework, of which she was a designer and major contributor, certified by
        US Government standards (FIPS-140). She is the lead for the Open Solaris Change Request
        Team, responsible for making decisions as to what code changes are incorporated into the
        Operating System and Networking consolidation, and one of the sponsors for the Open Solaris
        project. She is a leader in redefining the software bugtracking strategy and processes
        used across Sun today. Previously Valerie was the technical lead for the release of Solaris
        10 1/06 and was responsible for the NAT implementation as well as other network security
        features of the SunScreen firewall. Valerie has a B.S. in Computer Science from Purdue
        University. In her spare time, she enjoys performing at community theaters, riding
        her bike, and skiing.
      </p>
    </div>
    <footer class="modal-footer">
      <p></p>
    </footer>
  </div>
</div>

<div id="erikaModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Erika Poole</h2>
      <p>Alumnus</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt="erika_poole" src="/static/images/alumni/erika_poole.png">
      <p>
      Erika Shehan Poole is a PhD candidate in human-centered computing at Georgia Tech. Her
      research focuses on how groups collaborate to use, maintain, and make sense of computing
      technologies; areas of study have included home technology maintenance practices, public
      understandings of emerging technologies, workplace adoption of collaboration software,
      and collaborative gaming technologies for improving health and wellness. Erika holds a BS
      degree in computer science from Purdue University and an MS in computer science from Georgia
      Tech. She is a member of IEEE, ACM, SIGCHI, and the ACM US Public Policy Committee. She has
      been awarded a Georgia Tech Presidential Fellowship, an NSF Graduate Research Fellowship, a
      US Department of Homeland Security Fellowship, and the Google Anita Borg Memorial Scholarship.
      In 2006-2007, she was a pre-doctoral fellow in the Sam Nunn International Security Program.
      In her spare time, Erika is a group fitness instructor and personal trainer at the Georgia
      Tech Campus Recreation Center, and an active member of Toastmasters International.
      </p>
    </div>
    <footer class="modal-footer">
      <p></p>
    </footer>
  </div>
</div>

<div id="janiceModal" class="modalDialog">
  <div>
    <header class="modal-header">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Janice Zdankus</h2>
      <p>Alumnus</p>
    </header>
    <div class="modal-container">
      <img class="profileImg" alt="janice_zdankus" src="/static/images/alumni/janice_zdankus.jpg">
      <p>
        Janice Zdankus is Vice President of Infrastructure Software and Blades Services in the
        Enterprise Business Group and Technology Services division at Hewlett-Packard. She is
        responsible for profitable revenue growth and customer satisfaction of worldwide software
        support services, a high-growth segment of the HP Services portfolio. She is also
        responsible for customer experience and quality for the company's Enterprise Infrastructure
        Software and Blades products. Previously, Zdankus led Worldwide Warranty Planning and
        Strategy as a Senior Director for the Enterprise Storage and Server Group at HP. Prior to
        that, she was Senior Research and Development Director leading the diagnostics and system
        event management engineering laboratory for Business Critical Servers Division. Since first
        joining HP in 1985 as a software design engineer, Zdankus has held several other senior
        leadership positions in marketing, customer support and business planning. Zdankus earned
        Bachelor degrees in Computer Science and Industrial Management from Purdue University.
        She also holds a Masters of Business Administration degree from Santa Clara University in
        California.
      </p>
    </div>
    <footer class="modal-footer">
      <p></p>
    </footer>
  </div>
</div>
