<div class="resources-heading">
  <h1>Resources</h1>
</div>
<div class="resources-content">
  <div class="resources-imgs">
    <a target="abi_systers" href="http://anitaborg.org/get-involved/systers/">
      <img alt="abi_systers" src="/static/images/resources/abi_systers_logo_cropped_175x78_pixels.jpg"></a>
    <a target="acm" href="http://acm.cs.purdue.edu/">
      <img alt="acmlogo" src="/static/images/resources/acmlogo.jpg"></a>
    <a target="" href="">
      <img alt="anita_borg" src="/static/images/resources/anitaborg.jpg"></a>
    <a target="" href="">
      <img alt="conquer-logo" src="/static/images/resources/conquer-logo.png"></a>
    <a target="" href="">
      <img alt="gracehopper" src="/static/images/resources/gracehopper.png"></a>
    <a target="" href="">
      <img alt="gs-logo" src="/static/images/resources/gs-logo.png"></a>
    <a target="" href="">
      <img alt="purdue-cs" src="/static/images/resources/purdue-cs-logo.gif"></a>
    <a target="purdue_hackers" href="http://purduehackers.com/">
      <img alt="purdue_hackers" src="/static/images/resources/purduehackerslogo.png"></a>
    <a target="" href="">
      <img alt="upe" src="/static/images/resources/upelogo.gif"></a>
    <a target="usb" href="https://www.purdueusb.com/">
      <img alt="usb" src="/static/images/resources/usblogo.jpg"></a>
    <a target="" href="">
      <img alt="wisp" src="/static/images/resources/wisp-logo.png"></a>
  </div>

</div>
