<div class="sponsors-heading">
  <h1>Sponsors</h1>
</div>
<div class="sponsors-content">
  <h3 class="sponsors-h3">Thank you to our sponsors and partners:</h3>
  <div class="sponsors-imgs">
    <img id="boeing" alt="boeing" src="/static/images/sponsors/boeing.png">
  </div>
  <div class="sponsors-imgs">
    <img id="qualcomm" alt="qualcomm" src="/static/images/sponsors/qualcomm.jpg">
    <img id="capital_one" alt="capital_one" src="/static/images/sponsors/capitalone.png">
    <img id="salesforce" alt="salesforce" src="/static/images/sponsors/salesforce.png">
    <img id="bloomberg" alt="bloomberg" src="/static/images/sponsors/bloomberg.png">
    <img id="nielsen" alt="nielsen" src="/static/images/sponsors/nielsen.png">
  </div>
  <div class="sponsors-imgs">
    <img alt="caterpillar" src="/static/images/sponsors/caterpillar.jpg">
    <img alt="eli_lilly" src="/static/images/sponsors/elililly.png">
    <img alt="factset" src="/static/images/sponsors/factset.png">
    <img alt="harris" src="/static/images/sponsors/harris.png">
    <img alt="hewlett_packard" src="/static/images/sponsors/hewlettpackard.png">
    <img alt="lockheed_martin" src="/static/images/sponsors/lockheedmartin.jpg">
    <img alt="microsoft" src="/static/images/sponsors/microsoft.png">
    <img alt="motorolar" src="/static/images/sponsors/motorola.gif">
    <img alt="procter_gamble" src="/static/images/sponsors/proctergamble.jpg">
    <img alt="statefarm" src="/static/images/sponsors/statefarm.png">
    <img alt="yahoo" src="/static/images/sponsors/yahoo.png">
  </div>

</div>
