.global-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #fff;
  text-align: center;
}
.global-footer p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 17px;
  color: rgba(121, 121, 121, 0.5);
}

.global-footer a {
  text-decoration: none;
  color: rgba(19, 160, 192, 0.5);
}
