@font-face {
  font-family: Quicksand-Regular;
  src: url(./fonts/Quicksand-Regular.ttf);
}
@font-face {
  font-family: Quicksand-Bold;
  src: url(./fonts/Quicksand-Bold.ttf);
}
@font-face {
  font-family: Avenir-Roman;
  src: url(./fonts/Avenir-Roman.otf);
}
html, body {
  font-family: Avenir-Roman;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
.content h1 {
  font-family: Quicksand-Bold;
  text-align: center;
}
h1{
  color: #13A0C0;
}
p{
  color: #797979;
  font-size: 17px;
  font-family: Avenir-Roman;
  line-height: 25px;
}
