@font-face {
  font-family: Quicksand-Regular;
  src: url(./fonts/Quicksand-Regular.ttf);
}
@font-face {
  font-family: Quicksand-Bold;
  src: url(./fonts/Quicksand-Bold.ttf);
}
@font-face {
  font-family: Avenir-Roman;
  src: url(./fonts/Avenir-Roman.otf);
}
html, body {
  font-family: Avenir-Roman;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
.background-img{
  content : "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/static/images/officers/group1.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity : 0.2;
  z-index: -1;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}
.content h1 {
  font-family: Quicksand-Bold;
  text-align: center;
  margin-top: 50px;
}
h1{
  color: #13A0C0;
  letter-spacing: -2px;
}
h2, h3, .topnav {
  letter-spacing: -1px;
}
p{
  color: #797979;
  font-size: 17px;
  font-family: Avenir-Roman;
  line-height: 25px;
}
