.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow: scroll;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}
.modal-header{
  font-family: Quicksand-Bold;
  color: #13A0C0;
  padding: 0 20px 0 20px;
  margin:0 0 20px 0;
}
.modal-header h2 {
  margin: 20px 0 0 0;
}
.modal-header p{
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  align-items: left;
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.modal-container img {
  width: 180px;
  border-radius: 180px;
  border: 5px solid;
  border-color: #13A0C0;
  margin: 20px;
}
.modal-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
}
.modal-container p {
  margin: 0 30px 0 30px;
}
.modal-footer a {
  text-decoration: none;
  color: #13A0C0
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .modal-container img {
    display: none;
  }
}
