.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-header{
  font-family: Quicksand-Bold;
  color: #13A0C0;
  padding: 0 20px 0 20px;
  margin:0 0 20px 0;
}
.modal-header h2 {
  margin: 20px 0 0 0;
}
.modal-header p{
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  align-items: left;
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.modal-container img {
  width: 200px;
  height: auto;
}
.modal-container p {
  margin: 0 30px 0 30px;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 9999;
        opacity:0;
        text-decoration: none;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
      background-color: #fff;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      text-decoration: none;
    }

    .close:hover { background: #00d9ff; }
